
@media (max-width: 575.98px) { 
  .fontSize4{
    font-size: 1.4em;
      margin-top: 0.2em;
  }
  

 }
 

@media (min-width: 576px) { 
  .fontSize4{

  }
  
 }


@media (min-width: 768px) { 
  .fontSize4{
    font-size: 1.8em;
  }
  
  
}



@media (min-width: 992px) {
  .fontSize4{
  
  }
  
 }


@media (min-width: 1200px) { 
  .fontSize4{

  }
  
}




.fontSize3{
  margin-top: 1em;
}

